.Panel{
    height: 282px;
    width: 370px;
    background: #D5E2EA;
    margin: 0px;
    border: 1px solid #D5E2EA;
    position: relative;
    transition: transform 400ms ease;
}


.Panel a{
    text-decoration: none;
}

.PanelBody{
    /*flexbox*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: #838D93;
    font-size: 38px;
    white-space: pre;
    

    /* margin: 0px;
    
    border: 0px solid black;
    color: #838D93;
    font-size: 38px;
    white-space: pre; */
}

.PanelBody p{
    text-align: center;
}


.Panel:hover{
    transform: scale(1.02);
    background: #32617D;
}

.PanelBody:hover{
    border: 0px;
    color: white;
}