
.header{
    border-bottom: 2px solid #3D779B;
    border-right: 2px solid #3D779B;
    text-align: center;
    font-size: 20px;
    color: #666666;
    height: 21px;
}
.cellInfoA{
    border-bottom: 1px solid #666666;
    border-right: 1px solid #666666;
    text-align: center;
    font-size: 14px;
}
.cellInfoB{
    text-align: center;
    font-size: 14px;
    background-color: #3D779B;
}
.rowInfo{
    color: white;
    -webkit-box-shadow: inset 0px 0px 11px 2px #3d779b; 
    box-shadow: inset 0px 0px 11px 2px #3d779b;
}

.cell{
    border-bottom: 1px solid #666666;
    border-right: 1px solid #666666;
    text-align: center;
    font-size: 14px;
}

