
.SubHeader{
    height: 100px;
    width: 100%;
    border: 1px solid #F4F6F5;
    background-color: #F4F6F5;
}

.SubHeader h1{
    font-size: 50px;
    text-align: center;
    margin: 10px;
    color: #32617D;
}

.Body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.CollectionsBreakdown{
     border: none;
     border-bottom: 1px solid black;
}

.CollectionsDescriptionBreakdown{
    text-align: justify;
}

.PanelGridContainer{
    margin-top: 25px;
    margin-left: 140px;
    margin-bottom: 50px;
    
    width: 340px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
}

