

.TextArea{
    width: 80%;
    height: 32.1px;
    margin-left: 10px;
    margin-right: 10px;
    color: #838D93;
    resize: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.IndexList{
    width: 100%;
    height: auto;
    padding: 0px;
    text-align: right;
    margin-bottom: 15px;
}

.IndexList p{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    display: inline-block;
    margin-right: 62px;
}

.SearchButton{
    width: 100%;
    height: auto;
    text-align: right;
}

.builderTitle {
    margin-top: 30px;
}

.firstRow {
  margin: 1%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.secondRow{
  width: 97.5%;
  height: auto;
  margin-top: 30px;
  margin-left: 10px;
  border: 1px solid white;
  background: rgb(242,242,242);
  background: linear-gradient(180deg, rgba(242,242,242,1) 0%, rgba(245,245,245,1) 1%, rgba(248,248,248,1) 4%, rgba(251,251,251,1) 10%, rgba(254,254,254,1) 22%, rgba(254,254,254,1) 96%, rgba(255,255,255,1) 100%);
}

.container{
  display: flex;
  margin: 1%;
}

/* DropDwon Css */

.dropdownCont{
  position: relative;
  display: inline-block;
}

.dropDownBtn{
  width: 200px;
  height: 32px;
  padding-left: 10px;
  padding-right: 30px;

  display: flex;
  border: none;
  outline: none;
  user-select: none;

  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  background-color: #32617d;
}

.dropDownBtn .accent {
  cursor: pointer;
  background-color: #c93a1d;
}

.dropDownBtn .disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


.dropDownBtn:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}



.dropDownBtn-content {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #707070;
  background-color: #d8e4eb;
  z-index: 1;
  text-align: left;
  text-align-last: left;
}

/* 
.iconButton {
  width: 32px;
  height: 32px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border-radius: 50%;
  border: none;
  outline: none;

  font-size: 2vw;
  color: white;
}
.iconButton:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
} */

