.Panel{
    background: #D5E2EA;
    padding: 3%;
    position: relative;
    font-size: 5vh;
    transition: transform 400ms ease;
}

.dPanel{
    background: #9e9e9e;
    color: white;
    padding: 10%;
    position: relative;
    vertical-align: middle;
    font-size: 4vh;
    transition: transform 400ms ease;
}