.Panel{
    background: #D5E2EA;
    padding: 10%;
    position: relative;
    vertical-align: middle;
    font-size: 4vh;
    transition: transform 400ms ease;
}

.Panel:hover{
    transform: scale(1.02);
    background: #32617D;
    color: white !important; 
}