.input {
  width: 100%;
}

.TextArea{
    width: 96.5%;
    height: 32.1px;
    margin-left: 10px;
    margin-right: 10px;
    color: #838D93;
    resize: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.result {
    margin-left: 10px;
    border: 1px solid rgb(79, 199, 255);
    position: absolute;
    z-index: 1;
    padding: 0px;
    margin-right: 0px;
  }
.result ul {
    overflow: auto;
    max-height: 150px;
    min-width: 400px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
.result ul li {
    padding: 5px 0;
  }
.result ul li:hover {
    cursor: pointer;
    background: #eee;
  }
